






  <div class="theme-brown ">
    <section class="content">
      <div class="container-fluid">
        <div class="block-header">
          <p style="font-size: 42px">
        Management Dashboard
          </p>
        </div>



<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor="let card of dashboardTopCards">
        <div class="info-box  hover-expand-effect">
            <div class="icon">
                <app-progress [value]="card.percent"></app-progress>
            </div>
            <div class="content">
                <div class="text">{{card.name}}</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">{{card.value}}</div>
            </div>
        </div>
    </div>
</div>



        <div class="row clearfix" >

          <div *ngFor="let chart of chartData; let i=index" class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="min-height: 410px;">
            <div class="card" [ngClass]="{blur: i >= iterations}" >
              <div class="header">
                <p>{{chart.title}}</p>
              </div>
              <ng-container class="body" *ngIf="chart.chartType=='line'">
                  <canvas baseChart
                  [datasets]="chart.datasets"
                  [labels]="chart.chartLabels"
                  [options]="chart.chartOptions"
                  [chartType]="chart.chartType"
                  [legend]="chart.chartLegend"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </ng-container>

              <ng-container class="body" *ngIf="chart.chartType=='bar'">
                  <canvas baseChart
                  [datasets]="chart.datasets"
                  [labels]="chart.chartLabels"
                  [options]="chart.chartOptions"
                  [chartType]="chart.chartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                  </canvas>
                </ng-container>

                <ng-container class="body"  *ngIf="chart.chartType=='doughnut'">
                    <canvas baseChart
                    [data]="chart.data"
                    [options]="chart.chartOptions"
                    [labels]="chart.chartLabels"
                    [chartType]="chart.chartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                    </canvas>
                  </ng-container>

                  <ng-container class="body"  *ngIf="chart.chartType=='radar'">
                      <canvas baseChart
                      [datasets]="chart.data"
                      [labels]="chart.chartLabels"
                      [options]="chart.chartOptions"
                      [chartType]="chart.chartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
                      </canvas>
                    </ng-container>

                    <ng-container class="body"  *ngIf="chart.chartType=='polarArea'">
                        <canvas baseChart
                        [data]="chart.data"
                        [legend]="chart.chartLegend"
                        [options]="chart.chartOptions"
                        [labels]="chart.chartLabels"
                        [chartType]="chart.chartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                        </canvas>
                      </ng-container>

                    <ng-container class="body"  *ngIf="chart.chartType=='pie'">
                        <canvas baseChart
                        [data]="chart.data"
                        [labels]="chart.chartLabels"
                        [options]="chart.chartOptions"
                        [chartType]="chart.chartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                        </canvas>
                      </ng-container>


            </div>

            <div class="blurText" *ngIf=" i >= iterations">
              <p>?</p>
            </div>

          </div>

          <div id="chartdiv" [style.width.%]="100" [style.height.px]="500"></div>


        </div>
      </div>
    </section>

    <div class="time">
        <div class="outerCircle">
          <div class="innerCircle">
            {{counter$ | async}}
          </div>
        </div>
      </div>

  </div>
