.outerCircle {
  border: 10px solid #E10075;
  border-radius: 50%;
  width: 151px;
  height: 151px;
}

.innerCircle {
  width:130px;
  height:130px;
  border-radius:250px;
  font-size:35px;
  color:#000;
  line-height:130px;
  text-align:center;
  background:#fff
}

@media only screen and (min-width: 1500px) {
  div.main {
    justify-content: center;
  }

  .chartContainer {
    width: 45%; position: relative; min-height: 300px; min-width: 230px;
  }
}
@media only screen and (max-width: 1499px) {

  div.main {
    justify-content: space-around;
  }
  .chartContainer {
    width:50%;
  }
}

div#title {
  font-size: 50px;
  flex: 0.2 1 auto;
  display: flex;
  align-items: center;
}

#circleDiv {
  display: flex;
  width: 80%;
  justify-content: space-between;
  flex: 0.4 1 auto;
}

#circleDiv>div>h2 {
  text-align: center
}

